footer {
    text-align: center;
    background-color: white;
    padding: 1.25rem 1.25rem 0.625rem 1.25rem;
}

#footer-one {
    margin-bottom: 3.125rem;
    display: flex;
    flex-flow: column wrap;
    width: 90vw;
    margin: auto;
}

#footer-one i{
    font-size: 2em;
    margin-bottom: 0.625rem;
    color: #03264C;
}

#footer-one article h4{
    margin: 0;
}
#footer-one article p{
    margin: 0.1875rem;
}
#footer-one article {
    margin-bottom: 3.125rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#footer-two {
    text-align: left;
}


@media screen and (min-width: 1200px) {
    #footer-one{
        display: flex;
        flex-flow: row wrap;
        width: 90vw;
        justify-content: center;
    }
    #footer-one article{
        display: flex;
        width: 22vw;
        
    }
    
}