<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css"> 
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main-index.css"> 
    <link rel="stylesheet" href="/css/footer.css">  
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <section class="main-header">
            <figure>
                <img src="/img/logo-mercado-liebre.svg" class="logo" alt="Mercado Liebre">
            </figure>
            <input type="text" placeholder="Buscar producto, marcas y más..."> <!-- <i class="fas fa-search"></i>-->
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </section>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="#">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>

        <nav id="burguer-menu">
            <a href="#" class="hamburguer-buttom"><i class="fas fa-bars"></i></a>
        </nav>
        
    </header>
    <main class="main">
        <main class="main">
            <form action="/register" method="POST" class="create-form">
                <section class="form-control">
                    <input type="text" name="nombreApellido" placeholder="Nombre y Apellido" class="control">
                </section>
                <section class="form-control">
                    <input type="text" name="usuario" placeholder="Usuario" class="control">
                </section>
                <section class="form-control">
                    <label class="title">Fecha de Nacimiento</label>
                    <input type="date" name="fechaNacimiento" class="control">
                </section>
                <section class="form-control">
                    <input type="text" name="domicilio" placeholder="Domicilio" class="control">
                </section>
                <section class="form-control">
                    <label class="title">Perfil del usuario</label>
                    <label class="radio">
                        <input type="radio" name="perfil">
                        Comprador
                    </label>
                    <label class="radio">
                        <input type="radio" name="perfil">
                        Vendedor
                    </label>
                </section>
                <section class="form-control">
                    <label class="title">Intereses</label>
                    <section>
                        <input type="checkbox" name="electro"><label>Electro</label>
                    </section>
                    <section>
                        <input type="checkbox" name="moda"><label>Moda</label>
                    </section>
                    <section>
                        <input type="checkbox" name="hogar"><label>Hogar</label>
                    </section>
                    <section>
                        <input type="checkbox" name="jugueteria"><label>Juguetería</label>
                    </section>
                    <section>
                        <input type="checkbox" name="vidaSana"><label>Vida Sana</label>
                    </section>
                </section>
                <section class="form-control">
                    <label class="title">Foto de usuario</label>
                    <input type="file">
                </section>
                <section class="form-control">
                    <input type="password" name="password" placeholder="Contraseña" class="control">
                </section>
                <section class="form-control">
                    <input type="password" name="password" placeholder="Repetir contraseña" class="control">
                </section>    
                <button type="submit" name="submit" class="control">Enviar</button>
                <button type="reset" name="reset" class="control">Borrar</button>
            </form>
        </main>
    </main>
</body>
</html>